@import "../../assets/styles/colors.scss";
@import "../../assets/styles/sizes.scss";
.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5rem;
  .containerTask {
    width: 85%;
    flex-direction: row;
    display: flex;
    margin-left: 1rem;
  }
  .iconCheckTrue {
    font-size: $sizeIcons;
    margin-right: 2rem;
    color: $colorCheck;
    &:hover {
      cursor: pointer;
    }
  }
  .iconCheckFalse {
    font-size: $sizeIcons;
    margin-right: 2rem;
    &:hover {
      color: $colorCheck;
      cursor: pointer;
    }
  }
  .iconEdit {
    font-size: $sizeIcons;
    &:hover {
      color: $colorUpdate;
      cursor: pointer;
    }
  }
  .iconDelete {
    margin-left: 2rem;
    font-size: $sizeIcons;
    &:hover {
      color: $colorDelete;
      cursor: pointer;
    }
  }
}
